[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
selenium-wire = "*"
webdriver-manager = "*"
openpyxl = "*"
typing = "*"
pydentic = "*"
pydantic = "*"
pytest = "*"
bs4 = "*"
lxml = "*"
pandas = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.10"
